.Admincontainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
.aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid gray;
    
}
.cardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.5rem;
    gap:.5rem;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;

}
.cards{
    display: flex;
    flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 1rem;
font-weight: bolder;
font-size: 1.5rem ;
font-family: Georgia, 'Times New Roman', Times, serif;
    border:2px outset grey;
    border-radius: .5rem;
    height: 50%;
    width:100% ;
    
    
}
#userCard{
  background-color: #6a72a3fa;  
  box-shadow: 5px 5px 8px;
  color: black;
 
  /* background-image: url('https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg');
 opacity: 0.2;
  background-repeat: no-repeat;
background-size:cover;
background-blend-mode:inherit; */
}

#providerCard{
    box-shadow: 5px 5px 8px;
    background-color: #D9DEFF;
  color: black;

}

#categoryCard{
    background-color: #B4BCF0;
    box-shadow: 5px 5px 8px;
  color: black;

}

span{
    text-shadow: 5px 5px 5px rgba(85, 82, 82, 0.568);
    border: 5px inset rgba(0, 0, 0, 0.603);
    background-color: rgba(255, 255, 255, 0.719); 
    border-radius: 0.5rem;
    padding: 6px;
}
.table {
    --mdb-table-font-size: 1.2rem;
    --mdb-table-divider-color: rgba(0, 0, 0, 0.1);
    font-size: var(--mdb-table-font-size);
}
.table {
    --mdb-table-color: #050505;
    --mdb-table-bg: #D9DEFF;
    --mdb-table-border-color: #474242;
    --mdb-table-striped-bg: #bbc3f87d;
    --mdb-table-striped-color: #0c0c0c;
    --mdb-table-active-bg: #474242;
    --mdb-table-active-color: #fff;
    --mdb-table-hover-bg: #423d3d;
    --mdb-table-hover-color: #fff;
    color: var(--mdb-table-color);
    border-color: var(--mdb-table-border-color);
}