.provider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border: 2px solid black;
    margin: 1rem;
    align-items: center;
}


.card{
    margin: 1rem 5rem;
}

.title{
    font-size: 30px;
    margin: 1rem;
}