.times{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-items: center;
    justify-content: space-between;
    margin: 1rem;
    line-height: 0%
    ;
}
.tableContainer{
    display:grid;
    grid-template-areas: 'col1 col1' 'col2' 'col3';
}
.col1{
    grid-area: 'col1';
}